
.content{
    position: relative;
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

}
.content h3 {
    position: absolute;
    
    font-size: 8em;
    font-weight: bolder;
   
    

}
.content h3:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 0.3px #03a9f4;
}

.content h3:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate
{
    0%,100%{
        clip-path: polygon(0 46%, 20% 41%, 41% 45%, 62% 54%, 85% 52%, 100% 42%, 100% 99%, 0% 99%);


    }
    50%{
        
        clip-path: polygon(0 74%, 19% 74%, 42% 65%, 57% 45%, 79% 39%, 100% 42%, 100% 99%, 0% 99%);

    }
}

@media only screen and (max-width: 320px){
    .content h3{
        font-size: 40px;
    }

}
@media only screen and (max-width: 768px){
    .content h3{
        font-size: 40px;
    }

}